<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="/script.js"></script>
</body>
<div class="container text-center my-3">

    <p><a href="<%=github%>" class="rounded p-1 text-secondary" target="_blank">Made with &hearts; by <span class="text-primary">

                Anurag Bhagsain</span> </a></p>

</div>

</html>