<% include partials/header%>
<div class="p-5 text-center bg-light align-items-center" style="height: 100%; position: relative;">
    <p class="text-center" style="font-size: 3rem;">
        404 Not Found</p>
    <a href="/" class="btn btn-dark">Home</a>
</div>
<% include partials/footer%>