body {
    background-color: #000;
}

#landing-header {
    z-index: 1;
    position: relative;
    text-align: center;
    padding-top: 40vh;
}

#landing-header h1 {
    color: #fff;
    /* font-size: 80px; */
    font-size: 6rem;
}

.slideshow {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    list-style: none;
    margin: 0;
    padding: 0;
}

.slideshow li {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 50s linear infinite;
}

.slideshow li:nth-child(1) {
    background-image: url(img_5.jpg)
}

.slideshow li:nth-child(2) {
    background-image: url(img_2.jpg);
    animation-delay: 10s;
}

.slideshow li:nth-child(3) {
    background-image: url(img_3.jpg);
    animation-delay: 20s;
}

.slideshow li:nth-child(4) {
    background-image: url(img_4.jpg);
    animation-delay: 30s;
}

.slideshow li:nth-child(5) {
    background-image: url(img_1.jpg);
    animation-delay: 40s;
}

@keyframes imageAnimation {
    0% {
        opacity: 0;
        animation-timing-function: ease-in;
    }

    10% {
        opacity: 1;
        animation-timing-function: ease-out;
    }

    20% {
        opacity: 1
    }

    30% {
        opacity: 0
    }
}

#show_button {
    background: #fff;
    color: black;
    font-family: Roboto;
    font-size: 2.8rem;
    border-radius: 23px;

}

#show_button:hover {
    background: rgb(235, 228, 228);
    color: black;
    font-family: Roboto;

}

.content {
    font-size: 28px;
}